
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Headline:wght@200..700&family=Uncial+Antiqua&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins, sans-serif;
   background: linear-gradient(
  to right,
  #000000,5%,
  #020202 25%,
  #05050b 50%,
  #020202 75%
);
    color: #ffffff;
}

/* Cabeçalho */

header {
    padding: 40px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
}

.logo {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-left: 10px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 80px;
  
    
}

nav ul li a {
    color: #ffffff94;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
}

nav ul li a::after {
    content: ''; 
    position: absolute;
    width: 0; 
    height: 1.5px;
    display: block;
    left: 0; 
    bottom: -5px; 
    background: linear-gradient(to right, #6bbfe6, #aec7ec, #ffffff);
    transition: width 0.3s ease; 
}

nav ul li a:hover::after {
    width: 100%; 
}

nav a:hover {
    color: #7fbcd9;
}

.icones {
   
    display: flex;
    gap: 15px;
}

.zap-icone, .git-icone, .linkedin-icone {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.zap-icone:hover, .git-icone:hover, .linkedin-icone:hover {
    transform: scale(1.1);
    
}

/* Conteudo */

main {
    padding: 10px 4%;
    align-items: flex-start;
}

section {
    margin-bottom: 60px;
}

.foto-perfil {
    border: 1px solid #3a81a2;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
    box-shadow: 0 0 6px rgba(58, 129, 162, 0.7);
}

.inicio h2, .habilidades h2, .sobre h2, .projetos h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.inicio p, .habilidades p, .sobre p, .projetos p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #d0d0d0;
}

span {
    color: #3a81a2;
    text-shadow: 0 0 2px #3a81a2;
}

.inicio  {
    padding: 0 10rem;
    margin-top: 16rem;
    display: flex;
    gap: 4rem;
}

.eu {
    margin-left: 5rem;
    justify-content: center;
    align-items: center;
    max-width: calc(100vh - 10%);
}

hr {
    border: none;
    width: 3px;
    background: linear-gradient(
        to right, 
        #00000000, 
        #3a81a2,     
        #ffffff,     
        #3a81a2,    
        #00000000  
    );
    height: 300px;
    
}
.sub{
    color: #ffffff;
    margin-bottom: 20px;
    width: 38rem;
}


.habilidades {
    text-align: center;
    padding: 0 10rem;
    margin-top: 20rem;
    letter-spacing: 0.2rem;
     z-index: 999;
}
/* habilidades */

.content {
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 6rem;
}

.html-logo, .css-logo, .js-logo {
    width: 80px;
    height: 80px;
}

.html, .css, .js {
 text-align: left;
 width: 400px;
 transition: transform 0.4s ease, box-shadow 0.4s ease;
 padding: 40px;
 border-radius: 20px;
}

.html h3, .css h3, .js h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.html p, .css p, .js p {
    color: #d0d0d0;
    line-height: 1.4;
    font-size: small;
}

.html:hover, .css:hover, .js:hover {
    transform: scale(1.07);
    box-shadow: 0 0 10px #d0d0d0;
    cursor: pointer;
}

.foto-sobre {
    width: 400px;
    height: 600px;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
    border: 1px solid #3a81a2;
}
.sobre {
    padding: 0 10rem;
    margin-top: 20rem;
    display: flex;
    gap: 4rem;
    align-items: center;
}

.contato {
    margin-top: 2rem;
    text-align: center;
}

/* Projetos */

section.projetos {
    padding: 80px 4%;
    text-align: center;
    margin-top: 12rem;
    
}



section.projetos .flex {
    display: flex;
    justify-content: space-between;
}

.img-port {
    margin-top: 60px;
    width: 360px;
    height: 460px;
   background-size: cover;
   background-position: 100% 0%;
   transition: background-position 5s ease, transform 0.3s ease;
   border-radius: 30px;
   cursor: pointer;
   position: relative;
   border: 1px solid #3a81a2;
}

.img-port:hover {
     background-position: 100% 100%;
     transform: scale(1.05);
}

.escuro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.img-port:hover .escuro {
    opacity: 1;
}

footer {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px  #ffffff14;
}

footer .flex {
    display: flex;
    justify-content: space-between;
}

.div-footer {
    border: none;
    height: 3px;
    width: 100%;
    background: #3a81a2;
    margin: 20px 0;
}

footer .linha-rodape p a {
    color: #d0d0d0;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

footer .linha-rodape p a:hover {
    color: #3a81a2;
    text-decoration: underline;
    transition: color 0.3s ease;
}

img {
    width: 20px;
    height: 20px;
    margin-right: 9px;
   vertical-align: middle;
}

/* Responsivo */

@media screen and (max-width: 1340px) {
    .inicio, .habilidades, .sobre {
        padding: 0 5rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .inicio p, .habilidades p, .sobre p {
        width: 100%;
        text-align: center;
    }

    .inicio h2, .habilidades h2, .sobre h2 {
        text-align: center;
    }

    .sub {
        width: 100%;
    }   

    .foto-sobre {
        width: 350px;
        height: 500px;
    }

    .sobre {
        flex-direction: row;
        gap: 4rem;
        max-height: 70%;
    }


    hr {
        display: none;
    }

    .eu {
        margin-left: 0;
    }

    .content {
        flex-direction: column;
        gap: 4rem;
    }

    section.projetos .flex {
        flex-direction: row;
        gap: 4rem;
        align-items: center;
    }

    .html, .css, .js {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    header {
        flex-direction: column;
        gap: 20px;
    }

    nav ul {
        flex-direction: row;
        gap: 20px;
    }

    .inicio, .habilidades, .sobre {
        padding: 0 2rem;
    }

    .foto-perfil {
        width: 200px;
        height: 200px;
    }

    .foto-sobre {
        width: 300px;
        height: 500px;
    }

    .img-port {
        width: 280px;
        height: 360px;
    }

}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .icones {
        justify-content: center;
    }

    .inicio, .habilidades, .sobre {
        padding: 0 1rem;
    }

    .img-port {
        width: 100%;
    }

    section.projetos .flex {
        flex-direction: column;
        gap: 20px;
    }

    .sobre {
        display: flex;
        flex-direction: column;
    }
}